<div class="jumbotron" align="center" style="background-image:url(/assets/bg.jpg)">
  	<div class="container">
  		<h2>Conoce el significado de tu apellido</h2>

    <form class="form-search form-inline">
        <div class="input-group">
            <input type="text" class="form-control search-query input-lg" placeholder="Search..." /> <span class="input-group-btn">
            <button type="submit" class="btn btn-primary btn-lg">Buscar</button>
            </span>

        </div>
    </form>


 	</div>
</div>